@media (max-width: 767px) {
    .container {
        width: 375px;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .container {
        width: 950px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

